PyNEST>=2.2
Cython>=0.13
Jinja2>=2.5
NEURON>=7.0
PIL>=1.1.7
brian==1.3.0
matplotlib>=1.0.1
mock>=0.7.0
mpi4py>=1.2.2
nrnutils>=0.2
numpy>=1.5
quantities>=0.10
scipy>=0.11.0
sympy>=0.6.7
paramtk>=0.8
imagen>=1.0
smmap>=0.8.2
topographica>=0.9.8

