Cython==0.29.19
interval==1.0.0
lazyarray==0.3.3
matplotlib==2.1.1
mpi4py==3.0.3
neo==0.8.0
numpy==1.16.6
param==1.5.1
parameters==0.2.1
Pillow==8.1.1
psutil==5.7.0
PyNN==0.9.5
quantities==0.12.4
scipy==1.2.3
pytest==4.6.11
pytest-cov==2.10.1
pytest-randomly==1.2.3
coverage==5.3
