name: Fast model MPI tests

on: [push, pull_request]

jobs:
  fast-tests:
    uses: ./.github/workflows/mozaik-setup.yml
    with:
      pytest-args: '-m "mpi and not not_github and not mpi_explosion"'
